*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 100vw;
  max-height: 100vh;
  width: 700px;
  
  margin: 0 auto;
}

.controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  padding: 10px 15px;
  background-color: aquamarine;
  
  animation: slideIn ease-in;
}

.chipContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;

  padding: 10px 15px;
  border-radius: 20px;
  border: 1px dashed #ccc;

  margin: 10px 0;

  overflow-x: hidden;

  width: 100%;
}

@keyframes slideIn {
  /* 0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0vw);
  } */
  0% {
    transform: translateX(500%);
  } 50% {
    transform: translateX(-50%) skewX(-15deg);
  }60% {
    transform: translateX(40%);
  }70% {
    transform: translateX(0%);
  }80% {
    transform: translateX(15%);
  }95% {
    transform: translateX(0%);
  } 97% {
    transform: translateX(3%);
  } 100% {
    transform: translateX(0);
  }
}